<div id="id_description">
	<div class="close"><a href="javascript:right_panel_retract();">close</a></div>
	<div class="title"></div>
	<div class="content"><h2>Description</h2><p></p></div>
	<div class="link" id="id_arch_documentation"><h2>Documentation</h2><div></div><table><tbody></tbody></table></div>
	<div class="link" id="id_quickstart_documentation"><h2>Quick Start Guides</h2><table><tbody></tbody></table></div>
	<div class="link" id="id_appnote_documentation"><h2>Application Notes</h2><div></div></div>
	<div class="link" id="id_links"><h2>Links</h2><div></div></div>
	<div class="link" id="id_bug_list"><h2>Bugs / enhancements list</h2><div></div></div>
</div>
<div id="navigation" style="clear: both;">
	<div class="category">
		Category <select onchange="javascript:table_filter();"><option selected="selected" value="all">All</option></select>
	</div>
	<div class="type">
		Type <select onchange="javascript:table_filter();"><option selected="selected" value="all">All</option></select>
	</div>
	<div class="device">
		Device <select onchange="javascript:table_filter();"><option selected="selected" value="all">All</option></select>
	</div>
	<div class="kit">
		Board <select onchange="javascript:table_filter();"><option selected="selected" value="all">All</option></select>
	</div>
</div>
<div id="body">
	<table id="id_table" class="tablesorter" style="clear: both;">
		<thead>
			<tr>
				<th onclick="javascript:panel_retract();">Category</th>
				<th onclick="javascript:panel_retract();">Type</th>
				<th onclick="javascript:panel_retract();">Name</th>
				<th onclick="javascript:panel_retract();">Supported Devices</th>
				<th onclick="javascript:panel_retract();">QS<!-- Quickstarts //--></th>
				<th onclick="javascript:panel_retract();">AN<!-- Application Notes //--></th>
                                <th onclick="javascript:panel_retract();">Board</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script type="text/javascript">
<!--
	// Fill the main table
	$(document).ready(function() {
		// Initialize the module
		mainpage_init();
	});
//-->
</script>
