<p>
	Below is the list of quick start guides and application notes in
	relation to ASF modules.
</p>
<br />
<p>
	If you are new to ASF, you might want to read the following literature
	first and refer to the section "Where to start?" written below.
<table><tbody>
<tr><td class="table_print nowrap">
	<p><a href="http://www.atmel.com/Images/doc8431.pdf" target="_blank">&raquo; Atmel AVR4029: Atmel Software Framework - Getting Started</a></p>
</td></tr>
<tr><td class="table_print nowrap">
	<p><a href="http://www.atmel.com/Images/doc8432.pdf" target="_blank">&raquo; Atmel AVR4030: Atmel Software Framework - Reference Manual</a></p>
</td></tr>
</tbody></table>
</p>
<h2>Where to start?</h2>
<p>
	As a starting point you may want to start out with the
	<a href="applications.html">application projects</a>, which can be
	easily loaded in Atmel Studio from the File menu.
</p>
<br />
<p>
	As a next step you may want to add functionality to the application
	project, which can be done through the "ASF Wizard". Here you will
	get the option to add <a href="asf_drivers.html">drivers</a>,
	<a href="asf_services.html">services</a> and
	<a href="asf_components.html">components</a> (see the
	<a href="architecture.html">architecture page</a> for the terminology).
	The added code modules may require configuration, which is done in the
	corresponding conf_[module].h file.
</p>
<p>
	You can refer to the table below to get started with a specific module.
</p>
<br />
<p>
	Once you get the hang of it you may want to start from scratch by
	loading a <a href="asf_boards.html">board</a> template (or even make one
	yourself) and add ASF code in that together with your own code.
</p>
<p>
	Alternatively you can load a project you have made previously, and add
	ASF code to that. In that context the application examples are
	convenient as reference to use a source module, or to copy and paste
	from whenever needed.
</p>

<br />
<p style="text-align: right;">
	<i><b>QS</b>: Quick Start Guides, <b>AN</b>: Application Notes</i>
</p>
<br />
<script type="text/javascript">
<!--
	/* Allow only modules with getting_started or application notes on
	 * display.
	 */
	display_none();
	display_only_quickstart = true;
	display_only_application_notes = true;
	display_only_type = "module";
	display_column_quickstart = true;
	display_column_appnote = true;
	display_column_device = true;
//-->
</script>
