body {
	width: 100%;

	background: url(images/header_bg.png) 0px 0px repeat-x;
	-webkit-font-smoothing: 'antialiased';
}

body > #top
{
        margin: 0px auto;
	padding: 0px;
	width: 980px;
        padding-top: 107px;
}

img {
	border: none;
}

div.navigation
{
	margin-left: 0px;
	float: left;
	width: 212px;
	position: relative;
        background: url(images/asf.png) -15px bottom no-repeat;
	padding-bottom: 190px;
}

div.asf_title
{
	position: absolute;
	top: 30px;
        margin-left: 230px;
	*margin-left: 10px; /* Hack for IE7 and less */
}

div.asf_title h1
{
	font-size: 38px;
        text-shadow: 0px 1px 1px #999;
}

div.header
{
	float: left;
	height: 86px;
	width: 748px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div.headertitle
{
	padding: 20px 5px 5px 20px;
}

div.contents
{
	float: right;

        background: #f2f2f2; /* for non-css3 browsers */
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#ffffff)'; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f2f2f2,  #ffffff); /* for firefox 3.6+ */

	overflow: visible;

	border: 1px solid #aaa;
	padding: 10px;

	margin-bottom: 30px;

	width: 728px;
}

div.footer,
address.footer {
	clear: both;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;

	width: 980px;
	height: 26px;
	color: #999;
	padding: 2px;

	margin-bottom: 50px;
}

div.footer {
	text-align: left;
}

address.footer {
	text-align: right;
}

#footer-social {
	width: 212px;
	height: 26px;
	text-align: left;
	float: left;
}

#footer-meta {
	float: left;
	padding-top: 3px;
	width: 768px;
	text-align: right;
}

#footer-meta ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#footer-meta li {
	display: inline;
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	font-size: 10px;
}

#footer-meta li a, #footer-meta li a:active {
	text-decoration: none;
	line-height: 13px;
	color: #999;
	font-size: 10px;
}

a {
	color: #3D578C;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left_box,
.left_box img {
	float: left;
	width: 494px;
}

.left_box p {
	font-size: 11px;
	line-height: 15px;
	color: #444;
	padding: 5px;
}

.right_box img,
.first_right_box img {
	width: 190px;
	text-align: center;
	margin-left: -4px;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid #ddd;
}

.right_box,
.first_right_box {
	float: right;
	width: 182px;
	margin: 0px 0px 15px 0px;
	padding: 5px 15px 15px 15px;
	font-weight: normal;
	border: 1px solid #CCC;
	clear: right;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-khtml-border-radius-bottomright: 4px;
	-khtml-border-radius-bottomleft: 4px;
	-khtml-border-radius-topright: 4px;
	-khtml-border-radius-topleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-image: initial;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.first_right_box {
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3f2f2, endColorstr=#ecebeb)';
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F2F2), to(#ECEBEB));
	background: -moz-linear-gradient(top, #F3F2F2, #ECEBEB);
}

.right_box table {
	border-collapse: collapse;
}

.bullet_point,
.main_bullet_point,
.main_bullet_point a,
.bullet_point a,
.right_box .table_print {
	text-decoration: none;
	color: #2D2D2D;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

.bullet_point a,
a.bullet_point,
.main_bullet_point a,
a.main_bullet_point {
	font-weight: bold;
}

.main_bullet_point {
	width: 182px;
	border-bottom: 1px dotted #999;
	padding: 3px 0px;
	margin: 0px;
	background: url("images/cornerarrow.png") no-repeat scroll 176px 9px transparent;
	font-size: 10px;
}

.table_print p {
	padding: 0px;
	margin: 0px;
}

.right_box .table_print p,
.first_right_box .table_print p {
	white-space: nowrap;
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.right_box .table_print p:hover,
.first_right_box .table_print p:hover {
	text-overflow: clip;
	overflow: visible;
	width: auto;
	background-color: white;
}

.loading {
	background: url("images/loading.gif") no-repeat scroll 10px 0px transparent;
	width: 100px;
	height: 10px;
}

/*
.bullet_point:before {
	content: "»";
}

.bullet_point::first-letter {
}
*/

small {
	font-size: 13px;
	line-height: 14px;
}

ul.tablist {
	padding: 0px;
	margin: 0px;
        color: white;
}

ul.tablist div.menu_top {
	background: #0167A8;
	padding: 2px 6px;
	font-size: 14px;
	font-weight: bold;
}

ul.tablist div.menu_item {
        font-size: 13px;
	padding: 1px;
        padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	background-color: #033F69;
        border-bottom: solid 1px #4899CB;
	display: block;
        cursor: pointer;
	cursor: hand;
}

ul.tablist div.menu_item a,
ul.tablist div.menu_item_sub a {
	display: block;
}

ul.tablist div.menu_item_sub a:hover {
	color: black;
}

ul.tablist div.menu_item:hover {
	background-color: #015080;
}

ul.tablist div.menu_item.menu_item_selected,
ul.tablist div.menu_item.menu_item_selected:hover {
        background-color: #0083D1;
}

ul.tablist div.menu_item.no_link.menu_item_selected {
        background-color: #0083D1;
}

div.menu_item + div > .menu_item_sub {
	display: block;
        background-color: #005F98;
}

div.menu_item.menu_item_selected + div > .menu_item_sub {
	background-color: #0079C2;
}

ul.tablist div.menu_item_sub.menu_item_selected {
	background-image: url(images/selection.png);
	background-position: 6px 3px;
	background-repeat: no-repeat;
}

/* Hide the section not selected and show the selected one */
ul.tablist div.menu_item.no_link {
	background-image: url(images/down.png);
	background-position: 197px 3px;
	background-repeat: no-repeat;
}

ul.tablist div.menu_item.no_link.retracted {
	background-image: url(images/selection.png);
	background-position: 198px 3px;
	background-repeat: no-repeat;
}

ul.tablist div.menu_item_sub {
        font-size: 11px;
        padding: 1px;
	padding-left: 20px;
	padding-right: 5px;
	margin: 0px;
        cursor: pointer;
	cursor: hand;
}

ul.tablist a {
        color: white;
	text-decoration: none;
}

#MSearchBox {
	background: url('images/atmel.png') 59px 3px no-repeat;
	white-space : nowrap;
	display: inline;
        z-index: 102;
	width: 212px;
	height: 107px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -110px;
}


#MSearchBox .left {
	display: block;
	background-position: right;
	padding: 0px;
	margin: 0px;
	width: 20px;
	height: 19px;
	position: absolute;
	top: 80px;
	left: 0px;
}

#MSearchBox .right {
	display: block;
	background: url(images/search_submit_button.png) 0px 0 no-repeat;
	width: 41px;
	height: 22px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
	top: 80px;
	right: 0px;
}

#MSearchBox .right:hover {
        background: url(images/search_submit_button_on.png) 0px 0 no-repeat;
}

#MSearchField {
	display: block;
	border: none;
	color: #909090;
	outline: none;
	font: 9pt Arial, Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
	width: 171px;
	height: 22px;
	border: 0;
	background: url(images/searchbg.png) 0 0 no-repeat;
}

#MSearchSelect {
	margin-left: 150px;
}

#search_select_window {
	display: none;
	position: absolute;
	top: -9px;
	left: 172px;
}

#search_select_window,
#MSearchSelectWindow {
	z-index: 102;
	padding: 10px;
	background-color: #666;
	-moz-opacity: 0.95;
	opacity: .95;
	filter: alpha(opacity=95);
	display: none;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
}

#search_select_window .select_item,
#MSearchSelectWindow .SelectItem {
	float: left;
	clear: both;
	color: white;
	font-size: 11px;
	padding: 6px;
	padding-right: 20px;
	text-decoration: none;
	white-space: nowrap;
	height: 10px;
        cursor: pointer;
	cursor: hand;
	min-width: 120px; /* hack for IE */
}

#search_select_window .select_item span,
#MSearchSelectWindow .SelectItem span {
	display: inline;
}

#MSearchSelectWindow .SelectItem:hover,
#search_select_window .select_item:hover {
	color: #0066CB;
	background-color: white;
}

#search_select_window .selection_mark {
	float: left;
	width: 12px;
	font-family: monospace;
	outline-style: none;
	text-decoration: none;
}

#MSearchResultsWindow {
	margin-left: 50px;
	margin-top: -24px;
	position: relative;
	top: 0px;
	left: 0px;
	width: 60ex;
	height: 15em;
}

#MSearchResultsWindow iframe {
	position: absolute;
	top:0px;
	left: 0px;
}

/* The standard CSS for doxygen */

body, div {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

p, dl, table {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	line-height: 15px;
	color: #444;
}

/* @group Heading Levels */

h1, h2, h3 {
	font-family: 'IntervalLight', sans-serif;
	color: #0066CB;
	font-weight: normal;
	padding: 0;
        text-shadow: 0 0 0 #000;
	-webkit-font-smoothing: 'antialiased';
}

h1 {
	font-size: 23px;
	margin: 0px;
	padding: 0px;
	line-height: 35px;
	color: #0066CB;
}

h2 {
	font-size: 16px;
	line-height: 17px;
}

h3 {
	font-size: 14px;
	line-height: 15px;
}

