body {
	overflow-x: hidden;
}

input,
select {
	border: 1px solid #888;
}

small {
	color: #3D578C;
	text-decoration: none;
}

#navigation {
        background-color: #0079C2;
	border-top: 1px solid #68a;
	clear: both;
	font-weight: bold;
	font-size: 13px;
	display: table;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	line-height: 36px;
	width: 100%;
}

#navigation > div {
	display: table-cell;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	float: left;
}

#navigation > div:hover {
	background-color: #0083D1;
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
	cursor: pointer;
}

#navigation select {
	width: 100px;
}

#navigation select .disabled {
	color: #aaaaaa;
}


#id_description,
#id_description_instance {
	display: none;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 50px;
}

#id_description_instance .close {
	display: none;
}

#id_description_instance .title {
	display: none;
}

#id_description_instance .content p {
	white-space: pre-wrap;
	font-style: italic;
	color: #666666;
}

#id_description_instance .link table {
	margin-top: 10px;
}

#id_description_instance .link table td {
	vertical-align: bottom;
	padding: 1px 10px 0 10px;
}

#id_description_instance .link table td.empty {
	background-image: none;
}

.nowrap {
        white-space: nowrap;
}

div.supported_parts table {
        border-collapse: collapse;
}

.table_print {
	padding: 1px 10px 0 10px;
	white-space: nowrap;
	font-size: 11px;
}

.table_print a {
	color: #444;
}

.table_print a:hover {
	color: #0066CB;
	text-decoration: none;
}

/* Table CSS */
table.tablesorter {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
	font-size: 14px;
	font-weight: normal;
}

table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	border-bottom: 1px solid #68a;
}

table.tablesorter tbody td {
	color: #222;
	padding: 4px;
	padding-left: 10px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color: #f0f0f6;
}

table.tablesorter tbody tr:hover td {
	cursor: pointer;
	background-color: #ddedf8;
}

table.tablesorter tbody tr.selected td {
	cursor: pointer;
	background-color: #ddedf8;
}

table.tablesorter tbody tr.selected + tr + tr td {
	border-top: 3px solid #ddedf8;
}

table.tablesorter tbody tr.no_hover:hover td {
	cursor: auto;
	background-color: white;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	font-weight: bold;
}

table.tablesorter th:nth-child(2),
table.tablesorter td:nth-child(2) {
	width: 100px;
}

table.tablesorter td:nth-child(3),
table.tablesorter th:nth-child(3) {
	width: 400px;
}

table.tablesorter th:nth-child(1),
table.tablesorter td:nth-child(1) {
	width: 20%;
}

table.tablesorter th:nth-child(4),
table.tablesorter td:nth-child(4),
table.tablesorter th:nth-child(7),
table.tablesorter td:nth-child(7) {
        width: 20%;
}

table.tablesorter th:nth-child(5),
table.tablesorter th:nth-child(6),
table.tablesorter td:nth-child(5),
table.tablesorter td:nth-child(6) {
        width: 30px;
}

div.pager img.first,
div.pager img.next,
div.pager img.last,
div.pager img.prev {
	cursor: pointer;
}

table.tablesorter td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.tablesorter tr.selected td {
        overflow: visible;
	white-space: normal;
}

#navigation select {
}

/* Combo box with level */
#navigation optgroup,
#navigation optgroup > option {
}

#navigation option:not(.disabled) {
}

#navigation option.level_0 {
}
#navigation option.level_1 {
}
#navigation option.level_2 {
}
#navigation option.level_3 {
}
#navigation option.level_4 {
}

table.tablesorter p.CLOSED,
table.tablesorter p.CLOSED a {
	text-decoration: line-through;
}
